header {
  display: flex;
  text-align: center;
  justify-content: center;
}

.tout {
  margin-bottom: 10px;
  margin-top: 80px;
}

.corp {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}


  .quitter, .envoyé {
    display: inline-block;
    margin-right: 10px;
}


.quitter{
  margin-left: 530px;
}

.envoyé{
  margin-left: 160px;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
}
